RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php !-f

RedirectMatch 301 /oldpage/ /newpage/
RewriteRule ^/?folder/(.\*)$ /location/$1 [R,L]

RewriteRule ^([^\.]+)$ $1.php [NC,L]
